<div class="chat-container">
    <h1>{{title}}</h1>
    <h3 class="username">Nombre:
        <span id="userName">Desconocido</span>
    </h3>
    <div id="messages" class="messages-box"></div>
    <div class="message-input-area">
        <input type="text" id="messageInput"
        placeholder="Escribí un mensaje..."/>
        <button id="sendMessagesButton">Enviar</button>
    </div>
</div>